<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deepfake Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    {% extends 'layout.html' %}

    {% block content %}
    <div class="container">
      <h1>Welcome to DeepfakeDetect</h1>
      <p>Explore the navigation bar to analyze images or videos and learn more about how our AI works.</p>
    </div>
    {% endblock %}
  </body>
</html>
